HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/test/**/target/
*.log
*.class


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
.mvn/

# OS
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/test/**/build/

### VS Code ###
.vscode/
